button {
    width: 200px;
    height: 50px;
    background-color: black;
    border: 3px solid white;
    color: white;
}
button:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
}
.red {
    background-color: red;
    border: 3px solid white;
    color: white;
}
.red:hover {
    background-color: white;
    border: 3px solid red;
    color: red;
}
.blue {
    background-color: blue;
    border: 3px solid white;
    color: white;
}
.blue:hover {
    background-color: white;
    border: 3px solid blue;
    color: blue;
}
.yellow {
    background-color: yellow;
    border: 3px solid white;
    color: white;
}
.yellow:hover {
    background-color: white;
    border: 3px solid yellow;
    color: yellow;
}
.green {
    background-color: limegreen;
    border: 3px solid white;
    color: white;
}
.green:hover {
    background-color: white;
    border: 3px solid limegreen;
    color: limegreen;
}
button {
    margin-left: 5px;
}